
<div >
  <div style = "margin-bottom : 60px" > 
   <div *ngFor = 'let image of images' style="margin-bottom : 25px" >
    <mat-card class="card" >
      <img mat-card-image src={{image.img_src}} alt="Photo of a mars">
      <mat-card-content>
        <h3>
          {{image.rover.name}} rover - {{image.camera.full_name}}
        </h3>
        <p>{{image.earth_date}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" class="btn btn-success btn-rounded">Like</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
 
</div>

