
.card {
  
  max-width: 400px;
  border-width: 0px;
  background-color: #FBFBFB;

  padding-bottom: 60px;
}

.liked {
  background-color: #00B74A;
  
}

.unliked { 
  background-color: #8a8a8a;

}



